*, *::after, *::before{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

#root {
  text-align: center;
  /*1rem will equal to 10px*/
  font-size: 62.5%;
}

.app{
  height: 100vh;
  width:100%;
  overflow:hidden;
  display: flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  gap: 2em;

  /*
  place Background properties aside from URL below
  */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.screen{
  height:100%;
  width:100%;
  background-color:rgba(9,9,12,0);
  position: absolute;
  z-index: 0;
}

.box{
  position:relative;
  z-index:1;
}

.fadein{
  animation-name:fadein;
  animation-duration:1s;
}

@keyframes fadein{
  0%{
    background-color:rgba(9,9,12,0);
  }
  20%{
    background-color:rgba(9,9,12,1);
  }30%{
    background-color:rgba(9,9,12,1);
  }
  100%{
    background-color:rgba(9,9,12,0);
  }
}


