/*
Universal
*/

*, *::after, *::before{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

#root {
  text-align: center;
  /*1rem will equal to 10px*/
  font-size: 62.5%;
}

/*
Mobile first
*/

.app{
  height: 100vh;
  width:100%;
  overflow:hidden;
  display: flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.box{

  padding: 2em;
  border-radius: 1.5em;
  background-color:rgba(250,250,250, 0.7);

  position:relative;
  z-index:1;
  min-height: 20%;
  max-height: 80%;
  max-width: calc(100vw - 2em);

  /*Flex */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 3em;
}

/*Buttons container*/

.controls{
  width: 100%;
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:space-between;
}

/*
Buttons
*/

button{
  background-color: white;
  border-radius: 5px;
  height: 3em;
  /*
  height: 2em
  */
  padding: 0.2em 0.75em;
  font-size: 1rem;
}

button:active{
  color:white;
  background-color:black;
}

/*
Quotebox
*/

.quote{
  max-width: 496px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
}

.quotation-mark{
  font-size: 2.5rem;
}

.quote-content{
  font-family: Oswald, sans-serif;
  width: 100%;
  text-align: justify;
  text-justify: inter-word;
}

.quote-author::before{
  content: '-'
}

.quote-author{
  margin-top: 0.5em;
  padding-left: 0.5em;

  font-size: 1.5rem;
  font-style: italic;
  text-align: left;
  font-family: "Source Sans 3", sans-serif;
}

/*
Conditional
*/
.short{
  font-size: 2.25rem;
}

.medium{
  font-size: 2rem;
}

.long{
  font-size: 1.75rem;
}


/*
Filters
*/
.tag-select{
  background-color: aliceblue;
  list-style-type:none;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-content:start;
  row-gap: 1em;
  padding-left: 1em;
  overflow-y: scroll;
}

.filter-label{
  font-size: 1.25rem;
  font-family: sans-serif;
  display:flex;
  justify-content: flex-start;
  gap: 0.2em;
}

.filter-label input{
  padding-right: 1em;
  transform: scale(1.5);
  margin-right: 0.5em;
}

/*
Background selection
*/

.bg-select{
  background-color: aliceblue;
  width: 100%;
  height: 85%;

  padding: 1em 0;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1.5em;

  overflow-x:hidden;
  overflow-y:scroll;

}

/*BG thumbs*/

.bg-thumb{
  border: 3px solid black;
  height: 108px;
  width: 192px;
  /*Flex stuff*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bg-thumb > img{
  height: 100%;
  width: 100%;
}

/*
Background transitions
*/

.screen{
  height:100%;
  width:100%;
  background-color:rgba(9,9,12,0);
  position: absolute;
  z-index: 0;
}

.fadein{
  animation-name:fadein;
  animation-duration:1s;
}

@keyframes fadein{
  0%{
    background-color:rgba(9,9,12,0);
  }
  20%{
    background-color:rgba(9,9,12,1);
  }30%{
    background-color:rgba(9,9,12,1);
  }
  100%{
    background-color:rgba(9,9,12,0);
  }
}

/*
Responsiveness
*/
@media screen and (min-width:577px) {

  .box{
    padding: 2em 3em;
    max-width: calc(100vw - 4em);
    background-color:aqua;
  }

  .quote{
    /*
    max-width: 900px;
    min-width: 700px;
    */
    max-width: 650px;
    min-width: 300px;
  }

  .tag-select{
    grid-template-columns: repeat(3, 1fr);
  }

  .bg-select{
    max-width: 646px;
    height: 85%;
  }

  .quotation-mark{
    font-size: 2.75rem;
  }

  .short{
    font-size: 2.75rem;
  }
  
  .medium{
    font-size: 2.25rem;
  }
  
  .long{
    font-size: 2rem;
  }

  .quote-author{
    font-size: 1.75rem;
    padding-left:0;
  }

}

@media screen and (min-width:768px) and (max-width:991px) {

  .box{
    padding: 2em 3em;
    max-width: calc(100vw - 4em);
    background-color:goldenrod;
  }

  .quote{
    /*
    max-width: 900px;
    min-width: 700px;
    */
    max-width: 650px;
    min-width: 300px;
  }

  .tag-select{
    grid-template-columns: repeat(3, 1fr);
  }

  .bg-select{
    max-width: 646px;
    height: 85%;
    justify-content: flex-start;
    padding-left: 2em;
  }

  .quotation-mark{
    font-size: 3rem;
  }

  .short{
    font-size: 3rem;
  }
  
  .medium{
    font-size: 2.5rem;
  }
  
  .long{
    font-size: 2.2rem;
  }

  .quote-author{
    font-size: 1.75rem;
    padding-left:0;
  }

}

@media screen and (min-width:992px) and (max-width:1199px) {

  .box{
    background-color:aquamarine;
  }

  .quote{
    max-width: 750px;
    min-width: 500px;
  }

  .tag-select{
    grid-template-columns: repeat(4, 1fr);
  }

  .quotation-mark{
    font-size: 3rem;
  }

  .short{
    font-size: 3.5rem;
  }
  
  .medium{
    font-size: 2.75rem;
  }
  
  .long{
    font-size: 2.5rem;
  }

  .quote-author{
    font-size: 2rem;
  }

}

@media screen and (min-width:1200px) {

  .box{
    padding: 2em 3em;
  }

  .quote{
    max-width: 900px;
    min-width: 700px;
  }

  .quotation-mark{
    font-size: 3.5rem;
  }

  .short{
    font-size: 4rem;
  }
  
  .medium{
    font-size: 3rem;
  }
  
  .long{
    font-size: 2.5rem;
  }
}
